*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 1140px;
	margin: 0 auto;
}
body{
	color: white;
}
header{
	background-color: white;
	width: 100%;
	float: left;
}

header img{
	margin-top: 35px;
    margin-bottom: 30px;
}

header nav{
	float: right;
	margin-top: 60px;
	color: #005e7e;
}

header nav a{
	padding-right: 50px;
	padding-left: 50px;
	color: white;
	text-decoration: none;
	color: #005e7e;
}
.contact{
	background-color: #ee4a3f;
	width: 100%;
	float: left;
}
.contact-left{
	width: 75%;
	float: left;
}
.contact-left h2{
	margin-top: 55px;
}
.contact-left p{
	margin-top: 30px;
	margin-bottom: 45px;
}
.contact-right{
	width: 25%;
	float: left;
}
.rectangle-one{
	width: 100px;
	height: 100px;
	margin-top: 125px;
    margin-left: 25px;
	transform: rotate(45deg);
	background-color: #28282e;
}
.rectangle-two{
	width: 100px;
	height: 100px;
	margin-top: -100px;
    margin-left: 68px;
	transform: rotate(45deg);
	background-color: white;
}
.form-left{
	width: 425px;
	float: left;
}
.form-ctrl-left{
	width: 425px;
	height: 65px;
	margin-top: 20px;
	margin-bottom: 25px;
	float: left;
	opacity: 0.3;
}
.form-right{
	margin-left: 120px;
	width: 425px;
	float: left;
}
.form-ctrl-right{
	width: 425px;
	height: 65px;
	margin-top: 20px;
	margin-bottom: 25px;
	float: left;
	opacity: 0.3;
}
.button{
	float: left;
    margin-top: 97px;
    margin-left: 20px;
    font-size: 47px;
    background: transparent;
    border: none;
    color: #28282e;
    font-family: cursive;
    cursor: pointer;
}

footer{
	width: 100%;
	float: left;
	background-color: #ef4035;
}

footer p{
	text-align: center;
	margin: 45px 0px;
}